body{
	font: 25px , sans-serif;
}
.navbar {
	background-color: #688A08
}
.quem-somos {
	background-color: blue;
	color:white;
}
.margin {
	padding: 2%
}
.parceiros {
	background-color: green;
	color:white;
}
dt{
	color:blue;
}
.bg-footer{
	background-color: black;
	color:white;
}
